config ONEPLUS_HEALTHINFO
	bool "config oneplus healthinfo"
	depends on ONEPLUS_FG_OPT
	default n
	help
	  define this config to init oneplus healthinfo.
config ONEPLUS_TASKLOAD_INFO
	bool "config oneplus healthinfo"
	depends on ONEPLUS_HEALTHINFO
	default y
	help
	  define this config to init oneplus taskload info.
